@import '../../../../static/styles/base/colors ';

.current-chat-area__selected {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  width: calc(100% - 19.375rem);
}

.current-chat {
  &__header {
    align-items: center;
    border-bottom: 0.063rem solid $input-color;
    display: flex;
    height: 4.375rem;
    width: 100%;
  }

  &__header-image {
    align-items: center;
    display: flex;
    height: 4.7rem;
    justify-content: center;
    width: 4.25rem;
  }

  &__header-icon {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }

  &__main {
    overflow-y: scroll;
  }

  &__footer {
    align-items: center;
    border-top: 0.063rem solid $input-color;
    display: flex;
    height: 3.375rem;
    justify-content: space-between;
    padding: 0.625rem;
  }
}

.current-chat-name {
  flex-grow: 1;
  font-weight: bold;
  padding: 0.625rem;
}

.chat-settings {
  padding: 0.625rem;

  &:hover {
    cursor: pointer;
  }
}

.messages {
  border-left: 0.063rem solid $input-color;
  grid-area: messages;
  overflow-y: auto;
  width: 100%;
}

.add-file-button {
  background-color: transparent;
  border: 0;
  padding: 0.625rem;

  &:hover {
    cursor: pointer;
  }
}

.send-button {
  padding: 0.625rem;

  &:hover {
    cursor: pointer;
  }
}
