$brand-color: #3369f3;
$bg-color: #ffffff;
$input-color: #efefef;
$overlay-color: #00000040;
$text-primary: #1e1e1e;
$text-secondary: #999999;
$text-highlight: #ff2f2f;
$text-button: #ffffff;
$my-message: #e4edfd;
$interlocutor-message: #f8f8f8;
$current-conversation: #e4edfd;
