@import './reseter';
@import './fonts';
@import './_colors';

body {
  color: $text-primary;
  background-color: $bg-color;
  max-height: 100vh;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}
