@import './partials/conversation-card.scss';
@import './partials/message.scss';
@import './base/_colors.scss';

.messages-container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(16rem, 22rem) 1.5fr;
  grid-template-rows: 0.2fr 0.2fr 3.4fr 0.2fr;
  gap: 0 0.625rem;
  grid-auto-flow: row;
  grid-template-areas:
    'settings actions'
    'search-input messages'
    'conversation-cards messages'
    'conversation-cards message-input';
}

.messages {
  grid-area: messages;
  border-left: 0.063rem solid $input-color;
  overflow-y: auto;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 0.063rem solid $input-color;
  border-left: 0.063rem solid $input-color;

  &__avatar {
    & .avatar__image {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      margin: 0.625rem;
    }
  }
  &__name {
    margin-left: 0.625rem;
    font-weight: 800;
    align-self: center;
    margin: 0;
  }
  &__button {
    margin: auto 0.625rem auto auto;
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }
}

.settings {
  grid-area: settings;
  width: 6rem;
  margin: auto 0 auto auto;

  &__link {
    color: $text-secondary;
    font-size: 1rem;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.conversation-cards {
  grid-area: conversation-cards;
  overflow-y: auto;
  min-width: 16rem;
}

.message-input {
  grid-area: message-input;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  border-left: 0.063rem solid $input-color;
  border-top: 0.063rem solid $input-color;
  padding: 0.625rem;

  &__file {
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }
  &__field {
    border: none;
    border-radius: 1.875rem;
    background-color: $input-color;
    width: 100%;
    padding: 0.625rem;
  }
  &__button {
    margin-left: auto;
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }
}

.search-input {
  grid-area: search-input;
  border-radius: 0.312rem;
  background-color: $input-color;
  border: none;
  height: 2rem;
  margin: 0.625rem;
  padding: 0 0.625rem;

  &::placeholder {
    text-align: center;
  }
}
