@import '../../../../static/styles/base/colors ';

.registration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 28.75rem;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__buttons-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.25rem;
  }

  &__login-link {
    height: 0.688rem;
    margin-top: 0.875rem;
    opacity: 0.8;
    text-align: center;

    &:hover {
      opacity: 1;
    }
  }

  &__login-link-title {
    color: $brand-color;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
}
