@import '../base/_colors.scss';

.conversation-card {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0 0.625rem;
  height: 5rem;
  min-width: 16rem;
  padding: 0.625rem;
  border-top: 0.063rem solid $input-color;
  grid-template-areas:
    'conversation-card__photo conversation-card__name conversation-card__date'
    'conversation-card__photo conversation-card__last-messege conversation-card__counter';

  &__photo-wrapper {
    grid-area: conversation-card__photo;
    position: relative;
    width: 3rem;
    height: 3rem;
    margin: auto auto;
  }

  &__photo {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    grid-area: conversation-card__name;
    color: $text-primary;
    margin: 0;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__date {
    grid-area: conversation-card__date;
    color: $text-secondary;
    text-align: right;
    margin: 0;
    font-size: 0.875rem;
  }

  &__last-messege {
    grid-area: conversation-card__last-messege;
    color: $text-secondary;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__counter {
    grid-area: conversation-card__counter;
    color: $text-button;
    background-color: $brand-color;
    width: 1.4rem;
    height: 1.4rem;
    text-align: center;
    border-radius: 50%;
    margin: 0 0 0 auto;
    line-height: 1.7;
    align-self: end;
    font-size: 0.875rem;
  }
}

.current-conversation {
  background-color: $current-conversation;
}
