@import '../../../../static/styles/base/colors.scss';

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 14rem;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__buttons-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__registration-link {
    height: 0.75rem;
    text-align: center;
    opacity: 0.8;
    margin-top: 0.875rem;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  &__registration-link-title {
    color: $brand-color;
    font-size: 0.75rem;
    line-height: 0.75rem;
  }
}
