<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>{{title}}</title>
  <link href='~/src/static/styles/base/main.scss' rel='stylesheet' />
  <link href='~/src/static/styles/feedback/modal.scss' rel='stylesheet' />
  <link href='~/src/static/styles/feedback/popover.scss' rel='stylesheet' />
  <link
    rel='apple-touch-icon'
    sizes='180x180'
    href='~/src/static/icons/favicons/apple-touch-icon.png'
  >
  <link
    rel='icon'
    type='image/png'
    sizes='32x32'
    href='~/src/static/icons/favicons/favicon-32x32.png'
  >
  <link
    rel='icon'
    type='image/png'
    sizes='16x16'
    href='~/src/static/icons/favicons/favicon-16x16.png'
  >
  <link
    rel='mask-icon'
    href='~/src/static/icons/favicons/safari-pinned-tab.svg'
    color='#5bbad5'
  >
  <link rel='manifest' href='~/src/static/icons/favicons/site.webmanifest'>
  <meta name='msapplication-TileColor' content='#da532c'>
  <meta name='theme-color' content='#ffffff'>
  {{#if styles}}
    <link href='{{styles}}' rel='stylesheet' /></script>
  {{/if}}
  {{#if script}}
    <script src='{{script}}' type='module'></script>
  {{/if}}
  <script src='~/src/static/js/eins-modal.min.js' defer></script>
</head>
<body>
  {{{block 'body'}}}
</body>
</html>
