@import '../base/_colors';

.popover__wrapper {
  position: relative;
  display: inline-block;
}

.popover__content {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  position: absolute;
  background-color: $bg-color;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 0.375rem $overlay-color;
  border-radius: 0.75rem;
  width: max-content;
  min-width: 12rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  &--top-right {
    left: 0;
    bottom: 3.7rem;
  }

  &--bottom-left {
    right: 1.5rem;
    top: 4.2rem;
  }
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.popover__item {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  margin: 0.75rem;
}

.popover__paragraph {
  margin: 0;
}
